---
import Layout from "../layouts/Layout.astro";
import CategoryNav from "../components/CategoryNav.astro";
import Card from "../components/Card.astro";

const defaultCategory = "ai";
const items = await Astro.glob("../../content/css/*.md");

const titleMap = {
	ai: "AI Resources",
	apis: "API Resources",
	html: "HTML Resources",
	css: "CSS Resources",
	ui: "UI Resources",
	react: "React Resources",
	ideas: "Ideas Resources",
	tools: "Tools Resources",
	javascript: "JavaScript Resources",
	interviews: "Interviews Resources",
	challenges: "Challenges Resources",
	learning: "Learning Resources",
	cheatsheets: "Cheatsheets Resources",
	jobs: "Jobs Resources",
	icons: "Icons Resources",
	nextjs: "Next.js Resources",
	images: "Images Resources",
};

const title = titleMap[defaultCategory];
---

<Layout title="Home">
	<div class="flex flex-col mx-auto w-full max-sm:w-[95%]">
		

		<CategoryNav currentCategory={defaultCategory} />

		<div class="category-content" transition:name="category-content">
			<h2
				class="text-2xl font-bold mb-6 text-center text-gray-800 dark:text-white"
				transition:name="category-title"
			>
				{title}
			</h2>

			<ul
				class="flex flex-row flex-wrap gap-4 justify-center"
				transition:name="resources-grid"
			>
				{
					items.map((item) => (
						<Card
							title={item.frontmatter.title}
							description={item.frontmatter.description}
							link={item.frontmatter.link}
							image={
								item.frontmatter.imageURL !== undefined
									? item.frontmatter.imageURL
									: "https://res.cloudinary.com/dc6mrv5cb/image/upload/v1723451406/personal-resources/6894461_xudyti.jpg"
							}
						/>
					))
				}
			</ul>
		</div>
	</div>
</Layout>
